<ul>
  <%= @messages.each do |message| %>
    
      <li><%= message.text %></li>
      <li><%= message.sentiment %></li>

  <% end %>

</ul>

<div>
  <form id="feeling-add">
    <textarea cols="50" rows="5">
    </textarea>
    <br />
    <input type="submit" />
  </form>
</div>