#feeling-box {
  width: 35%;
}

#journal-button {
  display: inline-block;
}

#dream-button {
  display: inline-block;
}

#schedule-box {
  width: 35%;
}

#buttons {
  text-align: center;
}

#donuts {
  text-align: center;
}

#positive-keywords {
  display: inline-block;
}

#negative-keywords {
  display: inline-block;
}